<ion-view class="about-view" view-title="About" cache-view="false">
    <ion-nav-bar class="bar app-top-bar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  <ion-content scroll="false">
    <div class="vertical-center">

      <div class="card animated bounceInLeft">
        <div class="item item-divider">
          Creator
        </div>
        <div class="item item-text-wrap">
          Prosper Otemuyiwa a.k.a unicodeveloper
        </div>
      </div>

      <div class="card animated bounceInRight">
        <div class="item item-divider">
          Build Your First Mobile App
        </div>
        <div class="item item-text-wrap">
          Discover top PHP and JS Open Source Contributors
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img class="rounded-image" width="200" height="200" src="img/prosper.png" />
        </div>
      </div>

      <div class="bar bar-footer bar-balanced">
        <div class="title">
          <a href="javascript:void(0)" ng-click="goToUrl('http://goodheads.io')"> Explore goodheads.io </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
