<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar app-top-bar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="main-menu" side="left">
    <ion-content scroll="false">
      <ion-list>
        <ion-item class="item item-icon-right" nav-clear menu-close ui-sref="app.developers">
          <i class="icon ion-person-stalker"></i>
          <h2 class="menu-text">Developers</h2>
        </ion-item>
        <ion-item class="item item-icon-right" nav-clear menu-close ui-sref="app.location">
          <i class="icon ion-location"></i>
          <h2 class="menu-text">Location</h2>
        </ion-item>
        <ion-item class="item item-icon-right" nav-clear menu-close ui-sref="app.about">
          <i class="icon ion-speakerphone"></i>
          <h2 class="menu-text">About</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
